{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">     
            <form action="/tasks/create/" method="post" class="card card-body">
                <h1>Crear Tareas</h1>
                <select>
                    <option value="B1B2">B1/B2 Negocios y Turismo</option>
                            <option value="B2">B2 Turismo / Médico</option>
                            <option value="B1">B1 Negocios</option>
                            <option value="BCC">BCC tarjeta de cruce fronterizo (sólo México)</option>
                    </select>
                    

                {{error}}

                {% csrf_token %}
        
                {{form.as_p}}
        
                <button class="btn btn-secondary">
                    Guardar
                </button>
        
            </form>
        </div>

    </div>

</main>

{% endblock %}