{% extends 'base.html' %}

{% block content %}

<mai class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Principal</h1>
        <p>Hola!!! Esta es una página de prueba en la cual es un pequeño Login, espero que le guste mi primer página web</p>

        {% if user.is_authenticated %}
            {% else %}
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin">
                    Iniciar Sesión
                </a>
                <a class="btn btn-secondary" href="/signup">
                    Registrarse
                </a>
            </div>
        {% endif %}
    </section>
</main>

{% endblock %}