{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <h1>Tareas Completadas</h1>
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">{{task.title}}</h1>

            {{error}}

            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary">
                    Actualizar
                </button>
            </form>

            <div class="d-flex">
                <h1>Tareas Completadas</h1>
                <form action="{% url 'task_complete' task.id %}" method="POST">
                    {% csrf_token %}
            
                    <button class="btn btn-primary">
                        Completada    
                    </button>
                </form>
            
                <form action="{% url 'task_delete' task.id %}" method="post">
                    {% csrf_token %}
            
                    <button class="btn btn-danger">
                        Eliminar    
                    </button>
            </div>
            </form>
        </div>
    </div>

</main>

{% endblock %}